openapi: 3.0.0
info:
  title: 'Youla API'
  version: 1.0.0
servers:
  -
    url: 'http://api.youla.devmail.ru/'
    description: 'Youla API Stage'
  -
    url: 'http://api.youla.local/'
    description: 'Youla API Local'
paths:
  /api/v1/blacklist:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/carousel:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "cp_carousel_id"
        in: "query"
        required: false
        x-example: "e92766cc6e677a24:1708"
        schema:
          type: string
      - name: "cp_product_ids"
        in: "query"
        required: false
        x-example: "5f72f5fd2e8b1731fa457f1f,5eeb8e4789e64e2c216020c9,5c0518faeef141bb49737ee9,606ca595a2786104154836be,5d6ca1d2a380b642d56380d8,608b1fd103cfab4c0546c7b3,5f32b376ce03711dca1d4aa3,5f4a2e8432d19164574bee0f,6018204ff3aca45fa851908d,601075f4f619d7632e665463"
        schema:
          type: string
      - name: "cp_alias"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "cp_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chat/{chatId}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chatId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/internal/stores/cache/user/{userId}:
    get:
      parameters:
      - name: "userId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/order/{id}/buyer/cancel:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/product/{id}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/products/{id}/discount:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/products/discounts:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/searches/{searchId}/delete:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "searchId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/stories/{storyId}/delete:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "storyId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/subscription/following:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/user/{id}/favorites:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "target_user"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/user/{id}/push:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/user/anon/push:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/user_cards/{id}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./fonts/firasans/fira.css:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/jquery/jquery.min.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/mutation/mutationob.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/mutation/weakmap.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/onepage-scroll-master/jquery.onepage-scroll.min.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/smoothscroll/smoothscroll.min.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./js/sticky/jquery.sticky.js:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./plugins/fancybox/jquery.fancybox.css:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /./plugins/onepage-scroll-master/onepage-scroll.css:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /.well-known/apple-app-site-association:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /.well-known/assetlinks.json:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /about:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /action/close:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /action/screen:
    get:
      parameters:
      - name: "id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /action/success:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /api/v1/abtests/config:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/advertisements/config:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/amru/products/simple:
    get:
      parameters:
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "subcategory"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "max_distance"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "attributes[brand][]"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "attributes[model][]"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "search"
        in: "query"
        required: false
        x-example: "mark 2"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/blacklist/status/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bonus/config:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bonus/daily:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bonus/profile/anon:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bonus/register:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bonus/webview/list:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/bundles:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/c/credentials:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/carousel/feed:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "advertising_tracking_enabled"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "app"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_lang"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "appbuild"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "appver"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "category"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "connection"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "connection_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "cp_alias"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "cp_carousel_id"
        in: "query"
        required: false
        x-example: "33D089BE-BA27-4D35-91AE-C6DF84398FB2:110"
        schema:
          type: string
      - name: "cp_product_ids"
        in: "query"
        required: false
        x-example: "6067da9a1cb5421a9d6ebdf3,608f924ff800cd3fbb350043,608a03b572b4200ff6123ef2,6059a38c81b4450bc40bfd7a,609b7c9447ca9e08bf3e9af9,60839b6da68c93306444385d,607e0c8d3d743f19e56ef6e3,608c8b44e6575245603f9643,60829a97ec037a0e187f3f7f,5fb0690a9f901676224b7a83"
        schema:
          type: string
      - name: "cp_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "density"
        in: "query"
        required: false
        x-example: "2"
        schema:
          type: string
      - name: "device"
        in: "query"
        required: false
        x-example: "iPhone8,1"
        schema:
          type: string
      - name: "distance_max"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "dpi"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "euname"
        in: "query"
        required: false
        x-example: "iPhone (Сергей)"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "banners,boosts"
        schema:
          type: string
      - name: "h"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "idfa"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "lang"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "manufacture"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "operator_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "operator_name"
        in: "query"
        required: false
        x-example: "Mobile TeleSystems"
        schema:
          type: string
      - name: "os"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "osver"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "page"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "rooted"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "server_sort"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "show_china_only"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "sim_loc"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "sort_direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "sort_field"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "target_user"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timezone"
        in: "query"
        required: false
        x-example: "GMT+10:00 Asia/Vladivostok"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "vendor_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "vendor_id_cached"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "view_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "w"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/carousel/preview:
    get:
      parameters:
      - name: "additional_fields"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "advertising_tracking_enabled"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "app"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_lang"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "appbuild"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "appver"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "category"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "connection"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "connection_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "density"
        in: "query"
        required: false
        x-example: "2"
        schema:
          type: string
      - name: "device"
        in: "query"
        required: false
        x-example: "iPhone9,3"
        schema:
          type: string
      - name: "distance_max"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "dpi"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "euname"
        in: "query"
        required: false
        x-example: "iPhone Матвей"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "banners,boosts"
        schema:
          type: string
      - name: "h"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "idfa"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "lang"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "manufacture"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "operator_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "operator_name"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "os"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "osver"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "rooted"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "search"
        in: "query"
        required: false
        x-example: "Столик бронза"
        schema:
          type: string
      - name: "server_sort"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "show_china_only"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "sim_loc"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "sort_direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "sort_field"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timezone"
        in: "query"
        required: false
        x-example: "GMT+3:00 Europe/Moscow"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "vendor_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "vendor_id_cached"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "view_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "w"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/categories/0:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/categories:
    get:
      parameters:
      - name: "additional_fields"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/category/config:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/category/suggestion:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "desc"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "title"
        in: "query"
        required: false
        x-example: "Комбинезон Max Mara"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/category/top_menu:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/category/user/{userId}:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "levels_1[]"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "levels_2[]"
        in: "query"
        required: false
        x-example: "2"
        schema:
          type: string
      - name: "levels_3[]"
        in: "query"
        required: false
        x-example: "3"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "userId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/category_tree:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /api/v1/chat/{chatId}/messages:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "page"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chatId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chat/{chatId}/message/{messageId}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chatId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      - name: "messageId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chat/{chatId}/open:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chatId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chat/{chatId}/history:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "page"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "from_message"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chatId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chats/product/{id}:
    get:
      parameters:
      - name: "flag_suggested_text"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "flag_suggested_subcategory"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chats/productowner/{productId}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "page"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "productId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chats/products/{productId}/info:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "chat_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "productId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/chats/recipient/{userId}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "limit"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "page"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "userId"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/claim/types:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/counters/{id}:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/counters/user/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/cv:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /api/v1/cv/nationalities:
    get:
      parameters: []
      responses:
        "200":
           description: succefull
  /api/v1/delivery/bb_courier/points:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "point_lat"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "point_long"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/delivery/bb_pickup/points:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "point_lat"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "point_long"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/delivery/city/courier:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "city_lat"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "city_long"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/delivery/city:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "city_long"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "city_lat"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/delivery/cost:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "city_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "product_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/delivery_bb_pickup_points:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "point_lat"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "point_long"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "direction"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/events/client.email_read/pixel.gif:
    get:
      parameters:
      - name: "notification_type"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "letter_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "email"
        in: "query"
        required: false
        x-example: "novikovatasya86@gmail.com"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/face/init:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/face/status:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/0/filter:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "0"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/0/store_filter:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/1/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/{id}/filter:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "features"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/2/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/3/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/4/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/5/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/6/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/7/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/8/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/categories/9/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/references/subway_by_coords/{id_1}/{id_2}:
    get:
      parameters:
      - name: "adv_id_1"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id_2"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id_1"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      - name: "id_2"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/seller_profile/{id}/create:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/slug/web_default_filter:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/subcategories/{id}/create:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/subcategories/{id}/edit:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "params[category][0]"
        in: "query"
        required: false
        x-example: "Прочее"
        schema:
          type: string
      - name: "params[subcategory][0]"
        in: "query"
        required: false
        x-example: "Другое"
        schema:
          type: string
      - name: "params[type_classified][0]"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/subcategories/{id}/filter:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/subcategories/{id}/view:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/field_schemes/subcategories/{id}/store_filter:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/fields:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/fields_tree:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/geo/cities/{id}:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/geo/cities:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "nearest"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "search"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/geo/city/{id_1}/{id_2}:
    get:
      parameters:
      - name: "adv_id_1"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id_2"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "id_1"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      - name: "id_2"
        in: "path"
        required: true
        x-example: "123"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/geo/city:
    get:
      parameters:
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "code_rb"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info/products/statistics:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info_blocks/ad/profile:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "myTarget"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info_blocks/places/prod_list:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info_blocks/places/prod_page:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info_blocks/places/profile:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: ""
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_latitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "usr_longitude"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      responses:
        "200":
           description: succefull
  /api/v1/info_blocks/prod_list:
    get:
      parameters:
      - name: "adv_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "app_id"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "po_bratsky"
        in: "query"
        required: false
        x-example: "1"
        schema:
          type: string
      - name: "timestamp"
        in: "query"
        required: false
        x-example: "{id}"
        schema:
          type: string
      - name: "uid"
        in: "query"
        required: false
        x-example: "{id}"
[...]
